/* --ALLA SIDOR-- */

body {
  font-family: "Mulish", sans-serif;
  background-color: antiquewhite;
}

h1,
h2,
h3 {
  font-family: "Cabin", sans-serif;
  margin-bottom: 0px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header/Meny */
.meny {
  background-color: rgb(94, 173, 128);
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}

.meny img {
  max-width: 1000px;
  border-radius: 10px;
  margin-top: 1rem;
}

/* Navigation */
.meny-lista {
  background-color: rgb(85, 146, 111);
  width: 100vw;
  display: flex;
  gap: 3rem;
  justify-content: center;
  list-style: none;
  padding: 5px 0px;
}

.meny-lista li {
  font-size: 1.2rem;
}

a {
  color: black;
  text-decoration: none;
}

/* ____________________________________________________________________________ */
/* --STARTSIDAN-- */

.startsida {
  display: flex;
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
}

/* ___________________________________________________________________________ */
/* --HEM-- */

.news {
  display: flex;
  gap: 1rem;
  max-width: 1000px;
  flex-direction: column;
  align-items: center;
}

/* TEST */

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 100px;
  padding: 5px 5px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-option {
  padding: 5px;
}

.dropdown-option:hover {
  background-color: rgb(191, 200, 207);
}
